<ion-nav-bar class="bar-stable nav-title-slide-ios">
  <ion-nav-back-button class="button-icon icon ion-chevron-left">
    Back
  </ion-nav-back-button>
</ion-nav-bar>

<ion-view title="Treatment Tracker">

    <div class="card" style="padding-top: 50px">
      <label class="item item-text-wrap" style="border: none">
         Your message has been sent to Dr. Anderson!
      </label>
    </div>

    <div class="card">
      <label class="item" style="border: none">
        <button class="button button-block button-stable" onclick=location.href="#/tab/home">
          Home
        </button>
      </label>
    </div>

  </div>

<ion-tabs class="tabs-icon-top">

  <!-- Home Tab -->
  <ion-tab icon="icon ion-home" href="#/tab/home" title="Home">
  </ion-tab>


  <!-- Feedback Tab -->
  <ion-tab title="Send Feedback" icon="ion-chatbox-working">
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
  </ion-tab>

</ion-tabs>

</ion-view>
