<ion-view title="Login">
  <ion-content id = "imagebg">
        <div class="padding">
          <h1 class="login">Treatment Tracker</h1>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-energized" onclick=location.href="#/tab/account">
            Submit
          </button>
        </div>
  </ion-content>
</ion-view>
