<ion-view title="Treatment Tracker">
  <ion-content class="has-header padding">
    <div class=list">
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="fa fa-bell"></i>
        Reminders
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="ion-plus-circled"></i>
        Add Treatment
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="fa fa-calendar"></i>
        Calendar
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="ion-stats-bars"></i>
        Graphs
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="fa fa-user-md"></i>
        Contact Doctor
      </a>
    </div>
  <ion-nav-view></ion-nav-view>
  </ion-content>
</ion-view>
